<%= if (len(taskItems) == 0) { %>
    <p class="empty-task-list alert alert-success mb-5" role="alert">All done!</p>
<% } %>

<%= if (len(taskItems) > 0) { %>
<div class="task-list mb-5">
    <ul class="list-unstyled">
        <%= for (taskItem) in taskItems { %>
        <%= partial("task/item.plush.html") %>
        <% } %>
    </ul>
</div>
<% } %>

<%= partial("task/new_form.plush.html") %>

<!--
<turbo-frame class="col-4" id="feed-frame" src="/feed">
    <div class="alert alert-light" role="alert">
        Loading feed ...
    </div>
</turbo-frame>
-->
