<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Buffalo Turbo - TODO</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheetTag("style.css", { data-turbo-track: "reload" }) %>
    <%= stylesheetTag("application.css", { data-turbo-track: "reload" }) %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📋</text></svg>">
    
    <%= if (skipTurbo) { %>
    <!-- Skipping Turbo  -->
    <script>
      console.info("Skipping Turbo and using plain html!!");
    </script>
    <% } else { %>
    <!-- Turbo  -->
    <script src="https://unpkg.com/@hotwired/turbo@7.0.1/dist/turbo.es5-umd.js"></script>
    <script>
      console.info("Using Turbo!!");
    </script>
    <% } %>
    </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand" href="/">📝 To-Do App</a>
          <ul class="navbar-nav collapse navbar-collapse">
              <li class="nav-item">
                  <a class="nav-link" href="/">Tasks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/task/completed">Completed Tasks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/task/new">New</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feed">Feed (lazy Frame)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feed_slow">Feed (slow)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feed_sse">Feed (with SSE)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feed_ws">Feed (with WebSocket)</a>
              </li>
           </ul>
      </div>
    </nav>

    <main layout:fragment="content" class="container py-5">
      <%= partial("flash.html") %>
      <%= yield %>
    </main>

    <footer class="container pb-5">
      <ul class="nav justify-content-center">
          <li class="nav-item">
              <a class="nav-link link-secondary" href="https://github.com/remast/go_buffalo_turbo">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                  </svg>
                  View Source Code on GitHub
              </a>
          </li>
      </ul>
  </footer>
  </body>
</html>
